.desktop-1,
.desktop-1 * {
  box-sizing: border-box;
}
.desktop-1 {
  background: #5e1f63;
  height: 3255px;
  position: relative;
  overflow: hidden;
}
.group-1 {
  position: absolute;
  inset: 0;
}
.online-portfolio {
  color: #ffffff;
  text-align: left;
  font-family: "IrishGrover-Regular", sans-serif;
  font-size: 48px;
  font-weight: 400;
  position: absolute;
  left: 26px;
  top: 31px;
  width: 418px;
  height: 90px;
}
.home {
  color: #ffffff;
  text-align: left;
  font-family: "IrishGrover-Regular", sans-serif;
  font-size: 36px;
  font-weight: 400;
  position: absolute;
  left: 851px;
  top: 31px;
  width: 129px;
  height: 59px;
}
.about {
  color: #ffffff;
  text-align: left;
  font-family: "IrishGrover-Regular", sans-serif;
  font-size: 36px;
  font-weight: 400;
  position: absolute;
  left: 980px;
  top: 31px;
  width: 129px;
  height: 59px;
}
.portfolio {
  color: #ffffff;
  text-align: left;
  font-family: "IrishGrover-Regular", sans-serif;
  font-size: 36px;
  font-weight: 400;
  position: absolute;
  left: 1109px;
  top: 31px;
  width: 177px;
  height: 59px;
}
.contacts {
  color: #ffffff;
  text-align: left;
  font-family: "IrishGrover-Regular", sans-serif;
  font-size: 36px;
  font-weight: 400;
  position: absolute;
  left: 1260px;
  top: 31px;
  width: 146px;
  height: 59px;
}
.group-2 {
  position: absolute;
  inset: 0;
}
.online-portfolio2 {
  color: #ffffff;
  text-align: left;
  font-family: "IrishGrover-Regular", sans-serif;
  font-size: 48px;
  font-weight: 400;
  position: absolute;
  left: 30px;
  top: 1022px;
  width: 418px;
  height: 90px;
}
.home2 {
  color: #ffffff;
  text-align: left;
  font-family: "IrishGrover-Regular", sans-serif;
  font-size: 36px;
  font-weight: 400;
  position: absolute;
  left: 855px;
  top: 1022px;
  width: 129px;
  height: 59px;
}
.about2 {
  color: #ffffff;
  text-align: left;
  font-family: "IrishGrover-Regular", sans-serif;
  font-size: 36px;
  font-weight: 400;
  position: absolute;
  left: 984px;
  top: 1022px;
  width: 129px;
  height: 59px;
}
.portfolio2 {
  color: #ffffff;
  text-align: left;
  font-family: "IrishGrover-Regular", sans-serif;
  font-size: 36px;
  font-weight: 400;
  position: absolute;
  left: 1113px;
  top: 1022px;
  width: 177px;
  height: 59px;
}
.contacts2 {
  color: #ffffff;
  text-align: left;
  font-family: "IrishGrover-Regular", sans-serif;
  font-size: 36px;
  font-weight: 400;
  position: absolute;
  left: 1264px;
  top: 1022px;
  width: 146px;
  height: 59px;
}
.about-me {
  color: #ffffff;
  text-align: left;
  font-family: "IrishGrover-Regular", sans-serif;
  font-size: 48px;
  font-weight: 400;
  position: absolute;
  left: 591px;
  top: 895px;
  width: 215px;
  height: 58px;
}
.about-me2 {
  color: #ffffff;
  text-align: left;
  font-family: "IrishGrover-Regular", sans-serif;
  font-size: 48px;
  font-weight: 400;
  position: absolute;
  left: 591px;
  top: 1312px;
  width: 215px;
  height: 58px;
}
.image-1 {
  border-radius: 168px;
  width: 400.5px;
  height: 534px;
  position: absolute;
  left: 100px;
  top: 258px;
  object-fit: cover;
}
.mark-lester-l-miculob-bsit-3-b {
  color: #ffffff;
  text-align: left;
  font-family: "IrishGrover-Regular", sans-serif;
  font-size: 48px;
  font-weight: 400;
  position: absolute;
  left: 851px;
  top: 454px;
  width: 509px;
  height: 58px;
}
.rectangle-1 {
  background: #deee24;
  border-radius: 34px;
  width: 1085px;
  height: 351px;
  position: absolute;
  left: 144px;
  top: 1414px;
}
.i-am-mark-lester-l-miculob-26-years-of-age-living-at-lucena-city-i-was-born-in-zamboanga-del-sur-pagadian-city-and-left-when-i-was-16-years-old-with-my-family-i-want-to-express-my-journey-how-i-able-to-surpass-all-the-challenges-of-my-life-studying-college-for-about-7-years-and-now-i-m-still-working-on-to-get-my-degree-those-years-taught-me-how-to-not-giving-up-and-pursue-my-dreams-that-s-why-being-a-far-from-my-parents-and-a-working-student-here-at-lucena-i-can-manage-to-continue-and-reach-my-dreams-as-a-working-student-my-skills-and-personality-had-develop-for-being-a-man-who-s-responsible-and-passionate-i-know-that-being-crew-in-mcdo-and-studying-it-is-quite-a-far-but-i-believe-it-is-about-taking-care-of-things-and-fix-them-i-am-grateful-to-our-city-for-having-a-school-that-have-scholarship-and-that-is-dalubhasaan-ng-lucena-i-was-able-to-study-in-free-and-accept-working-student-thankful-for-those-people-who-have-helped-me-and-push-me-they-always-remind-that-education-is-important-in-people-lives-now-i-m-conquering-it-and-make-my-parents-and-love-ones-proud {
  color: #000000;
  text-align: left;
  font-family: "IrishGrover-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 165px;
  top: 1414px;
  width: 1057px;
  height: 234px;
}
.socmed {
  position: absolute;
  inset: 0;
}
._350974-facebook-logo-icon-1 {
  width: 150px;
  height: 133px;
  position: absolute;
  left: 2px;
  top: 1975px;
  object-fit: cover;
}
._5279112-camera-instagram-social-media-instagram-logo-icon-1 {
  width: 119px;
  height: 119px;
  position: absolute;
  left: 167px;
  top: 1982px;
  object-fit: cover;
}
._350974-facebook-logo-icon-12 {
  width: 150px;
  height: 133px;
  position: absolute;
  left: 1060px;
  top: 820px;
  object-fit: cover;
}
._5279112-camera-instagram-social-media-instagram-logo-icon-12 {
  width: 119px;
  height: 119px;
  position: absolute;
  left: 1225px;
  top: 827px;
  object-fit: cover;
}
